/* footer.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.site-footer {
    background-color: #333;
    color: #fff;
    padding: 2.5rem 1.25rem;
}

.footer-container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.footer-column {
    margin-bottom: 1.25rem;
}

.footer-column .inscreva {
    font-size: 1rem;
    margin-bottom: 0.125rem;
    text-transform: uppercase;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 0.5rem;
}

.footer-column ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 0.875rem;
}

.footer-column ul li a:hover {
    color: #fff;
}

.newsletter-form input {
    padding: 0.75rem;
    border-radius: 1.875rem;
    border: none;
    width: 21.5rem;
    margin-bottom: 1.87rem;
}


.footer-bottom {
    text-align: center;
    border-top: 1px solid #555;
    padding-top: 1.25rem;
    margin-top: 1.25rem;
    font-size: 0.875rem;
    color: #ccc;
}


.social-icons ul{
    display: flex;
    gap: 1.25rem;
}

.redes-sociais{
    margin-bottom: 1rem;
}

.social-icons li a:hover img{
    opacity: 0.7;
}